.modal-backdrop {
    background: rgba(0, 0, 0, .2);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 300ms;
}

@keyframes slide {
    100% {
        right: 40px;
    }
}

#toast {
    right: -400px;
    animation: slide 500ms forwards;
    animation-delay: 500ms;
}

#toast .alert {
    box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.4);
    border: none;
}

#htmx-user-form input {
    min-width: 100%;
}

.error-message {
    color: red;
}