.modal-backdrop {
    background: rgba(0, 0, 0, .2);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 500ms;
}

@keyframes slide {
    100% {
        right: 40px;
    }
}

#flash-msg {
    right: -400px;
    animation: slide 500ms forwards;
    animation-delay: 500ms;
}

#htmx-user-form input {
    min-width: 100%;
}