
table.table.user-table {
    height: 500px;
    display: block;
    overflow-y: scroll;
}

.th-container-firstName,
.th-container-lastName,
.th-container-email,
.th-container-phoneNumber {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 195px;
}

.th-container-firstName,
.th-container-lastName,
.th-container-email,
.th-container-phoneNumber {
    width: 240px;
}

.th-container-firstName form input.hide,
.th-container-lastName form input.hide,
.th-container-email form input.hide,
.th-container-phoneNumber form input.hide {
    display: none;
}

.th-container-firstName form input,
.th-container-lastName form input,
.th-container-email form input,
.th-container-phoneNumber form input {
    display: block;
}

.th-container-firstName form,
.th-container-lastName form,
.th-container-email form,
.th-container-phoneNumber form {
    display: flex;
    flex-direction: column;
}

.sorters {
    cursor: pointer;
    margin: 5px 0 0 5px;
}

.active-sort svg {
    fill: red;
}

[class^='search-form'] {
    display: flex;
}

.search-form input {
    max-width: 100px !important;
}

.search-label {
    margin-bottom: 5px;
    text-align: center;
    display: block;
}
