
table.table.user-table {
    height: 500px;
    display: block;
    overflow-y: scroll;
}

.th-container-firstName,
.th-container-lastName,
.th-container-email,
.th-container-phoneNumber {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.th-container-firstName input.hide,
.th-container-lastName input.hide,
.th-container-email input.hide,
.th-container-phoneNumber input.hide {
    display: none;
}

.th-container-firstName input,
.th-container-lastName input,
.th-container-email input,
.th-container-phoneNumber input {
    display: block;
    max-width: 150px;
}

.sorters {
    cursor: pointer;
    margin: 5px 0 0 5px;
}

.active-sort svg {
    fill: red;
}

input {
    max-width: 100px !important;
    display: block;
}

.search-label {
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}
